<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/fa/css/font-awesome.min.css" />

	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/exhibitor">Home</a></li>
        		<li><a href="/exhibitor/prj">Projects</a></li>
    		</ul>
		</nav>
		<div class="container">

		     {{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://github.com/sh1457/exhibitor"><i class="fa fa-github"></i></a></li>
        		<li><a href="http://sh1457.github.io/exhibitor/prj/atom.xml"><i class="fa fa-rss-square"></i></a></li>
		</ul>
		</footer>
	</body>
</html>
