<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/fa/css/font-awesome.min.css" />

	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">

		     {{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:sh1457@gmail.com"><i class="fa fa-envelope"></i></a></li>
        		<li><a href="https://www.facebook.com/SH1457"><i class="fa fa-facebook-official"></i></a></li>
        		<li><a href="https://plus.google.com/+SujithSudarshan"><i class="fa fa-google-plus"></i></a></li>
        		<li><a href="https://twitter.com/sh1457"><i class="fa fa-twitter"></i></a></li>
        		<li><a href="https://www.instagram.com/thesujithsudarshan"><i class="fa fa-instagram"></i></a></li>
        		<li><a href="https://www.linkedin.com/in/SujithSudarshan"><i class="fa fa-linkedin-square"></i></a></li>
        		<li><a href="https://github.com/sh1457"><i class="fa fa-github"></i></a></li>
        		<li><a href="http://sh1457.github.io/blog/atom.xml"><i class="fa fa-rss-square"></i></a></li>
		</ul>
		</footer>
	</body>
</html>
